appdirs==1.4.4
asgiref==3.3.4
backcall==0.2.0
black==21.5b2
click==8.0.1
decorator==5.0.9
fastapi==0.65.1
Flask==2.0.1
gunicorn==20.1.0
h11==0.12.0
httptools==0.2.0
ipykernel==5.5.5
ipython==7.24.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jupyter-client==6.1.12
jupyter-core==4.7.1
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
mypy-extensions==0.4.3
parso==0.8.2
pathspec==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.18
ptyprocess==0.7.0
pydantic==1.8.2
Pygments==2.9.0
python-dateutil==2.8.1
python-dotenv==0.17.1
python-multipart==0.0.5
PyYAML==5.4.1
pyzmq==22.1.0
regex==2021.4.4
six==1.16.0
starlette==0.14.2
toml==0.10.2
tornado==6.1
traitlets==5.0.5
typing-extensions==3.10.0.0
uvicorn==0.14.0
uvloop==0.15.2
watchgod==0.7
wcwidth==0.2.5
websockets==9.1
Werkzeug==2.0.1
