.logo-container  > img {
    max-height: 80%;
    max-width: 80%;
    margin: auto;
    text-align: -webkit-center;
    margin-top: 47px;
}

.search-bar > form > input{
    display: flex;
    width: 100%;
    height: 44px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    margin: 0 auto;
    max-width: 482px;
    margin-bottom: 1em;

}

.main-wrapper{
    justify-content: center;
    align-items: center;  
    margin: auto;
    display: inline-block;
    text-align: center;
    margin: 2% 25% 0% 25%;
}




body{
    background-color: #f6f6f6;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
    min-height: 80%;
    position: relative;
}

button {
    margin: 1em 1em 1em 1em;
    background-image: -webkit-linear-gradient(top,#f5f5f563,#f1f1f1);
    background-color: #f2f2f200;
    border-radius: 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    color: #5F6368;
}

button:hover {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
    border-radius: 16px;
}