<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://www.google.com/images/branding/googleg/1x/googleg_standard_color_128dp.png"
        type="image/x-icon">
    <title>Goggle</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <div class="main-wrapper">
        <div class="logo-container">
            <img src="static/logo.png" alt="Lazy man's Google">
        </div>
        <div class="search-bar">
            <form action="/search" method="get">
                <input type="search" name="q" autocomplete="false" autofocus>
                <button type="submit">Goggle Search</button>
                <button type="submit">I'm Feeling Lucky</button>
            </form>
        </div>
    </div>
</body>

</html>